In [2]:
import numpy as np
import pandas as pd

In [3]:
from pandas import Series, DataFrame

In [4]:
dframe = pd.read_csv('lec25.csv')

In [8]:
dframe

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>q</td>
      <td>r</td>
      <td>s</td>
      <td>t</td>
      <td>apple</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>pear</td>
    </tr>
    <tr>
      <th>2</th>
      <td>a</td>
      <td>s</td>
      <td>d</td>
      <td>f</td>
      <td>rabbit</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>2</td>
      <td>5</td>
      <td>7</td>
      <td>dog</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
dframe = pd.read_csv ('lec25.csv', header = None)
dframe

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>q</td>
      <td>r</td>
      <td>s</td>
      <td>t</td>
      <td>apple</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>pear</td>
    </tr>
    <tr>
      <th>2</th>
      <td>a</td>
      <td>s</td>
      <td>d</td>
      <td>f</td>
      <td>rabbit</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>2</td>
      <td>5</td>
      <td>7</td>
      <td>dog</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
dframe = pd.read_table('lec25.csv', sep=',', header = None)
dframe

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>q</td>
      <td>r</td>
      <td>s</td>
      <td>t</td>
      <td>apple</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>pear</td>
    </tr>
    <tr>
      <th>2</th>
      <td>a</td>
      <td>s</td>
      <td>d</td>
      <td>f</td>
      <td>rabbit</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>2</td>
      <td>5</td>
      <td>7</td>
      <td>dog</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
pd.read_csv('lec25.csv', header=None, nrows=2)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>q</td>
      <td>r</td>
      <td>s</td>
      <td>t</td>
      <td>apple</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>pear</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
dframe.to_csv('mytextdata_out.csv')

In [13]:
import sys

In [14]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [15]:
dframe.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [16]:
dframe.to_csv(sys.stdout, columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5